@model ShopApp.WebUI.Models.Product

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Product</title>
</head>
<body>
    <p>Product Name: @Model.Name</p>
    <p>Price: @Model.Price</p>
    <p>Details: @Model.Description</p>
</body>
</html>
