<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Home</title>
</head>
<body>
    <p>@ViewBag.Greeting @ViewBag.UserName, how are you?</p>
    <p>I hope you like our site.</p>
</body>
</html>
